<!--
LEVI COLQUITT
Assignment 3+4 STQA
3/15/2020
This HTML file adds some structure for the aboutPage
--!>
{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <h1>
            Welcome to the about page
            <p>

            </p>
        </h1>
        <h2>
            BMI calculator
            <p>
                THE BMI calculator will calculate BMI based on given parameters. With the following formula:
            </p>
                    <p class="text-muted">
            height_squared = float(metric_height * metric_height)
            BMIvalue = (metric_weight/height_squared)
            if BMIvalue <= 18.5:
                weight_category = ' weight category: Underweight'
            if BMIvalue > 18.5 and BMIvalue <= 24.9:
                weight_category = ' weight category: Normal weight'
            if BMIvalue >= 25 and BMIvalue <= 29.9:
                weight_category = ' weight category: Overweight'
            if BMIvalue > 29.9:
                weight_category = ' weight categor: Obese'
            returns: BMIvalue, weight category

        </p>
        </h2>

        <h3>
            Retirement calculator
            <p>
                THE RETIREMENT calculator will calculate if you will attain given retirement savings goal based on the following formula:

            </p>
            <p class="text-muted">
                    while i <= (100-age):
        if i == (100-age):
            print("We are sorry but your savings goal was not met with in life expectancy (100 years).\n You managed to save:", savings, "by age 100")
        savings = float((salary * (percentSaved/100)) + savings)
        bonus = ((salary*(percentSaved/100)) *.35)
        savings = savings + bonus
        age += 1
        if savings >= desiredSavingsGoal:
            savings = str(savings)
            age = str(age)
            desiredSavingsGoal = str(desiredSavingsGoal)
            savingsPrinter = ("You will have saved: $"+savings+" By age: "+age+" Which meets your savings goal of: $"+desiredSavingsGoal)
            </p>
        </h3>


</div>
{% endblock content %}